@import "tailwindcss";

@theme {
    --color-primary: magenta;
    --color-secondary: maroon;
    --color-accent: green;
    --color-background: yellow;
    --color-info: cyan;
    --color-text: black;
    --color-border: gray;
    --color-black: #008;
}

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));
