@import "tailwindcss";

@theme {
    --color-primary: magenta;
    --color-secondary: maroon;
    --color-accent: green;    
    --color-info: cyan;
    --color-black: #008;
    --color-white: #fff;
}

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));
